@import 'normalize';
@import 'variables';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.btn {
  width: 215px;
  padding: 15px 30px;
  border-radius: 50px;
  background: #c4c4c4;
  border: none;
  font-size: 14px;
  line-height: 16px;
}

.btn__arrow {
  position: relative;
  text-align: left;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 20px;
    height: 1px;
    background: #000;
  }
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 20px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
}

.page {
  min-height: 500px;
  height: 100vh;
}
